<nav class="navbar navbar-expand-lg shadow p-3 mb-5 bg-body-tertiary rounded navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/img/logo3.png" alt="Logo de EmployApp" width="114" height="69" class="mr-n2">
        </a>
        <a class="navbar-brand" href="#" style="margin-left: -50px">
            EmployApp
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin-left: -203px;">
                <a class="nav-link" href="#" [routerLink]="['/home']">Home</a>
                <a class="nav-link" href="#" [routerLink]="['/employees']">Employees</a>
            </div>
        </div>
    </div>
</nav>
