<app-navbar></app-navbar>
<div class="container">
    <div class="header">
        <h1 class="titulo">Práctica Angular</h1>
    </div>
    <div class="description">
        <h2 class="titulo2">Descripción del Desafío</h2>
        <p class="descripciones">Consumir la API desarrollada en la entrega número 7 del lab, el desafío de Web Api.<br>
         Agregarle estilos, formularios reactivos, validaciones y estructura al proyecto y librerías. <br> Incluir formularios reactivos y mejoras en la interfaz de usuario.</p>
        <p class="descripciones">Durante el Lab aprendimos a manejarnos con Visual Studio, Visual Studio Code, utilizamos .NET Framework, C#, Js y Angular</p>
        <P class="descripciones">Fueron 8 prácticas, empezando por Programación orientada a objetos. Manejo de excepciones, SQL, estructura del proyecto y validaciones. <br>Luego
            pasamos al desafío de MVC, para continuar con el de Web Api y finalizar con la integración de los dos mundos, Brackend y Front End </P>
    </div>
    <div class="section">
        <div class="section-item">
            <h2 class="titulo2">Tecnologías Utilizadas</h2>
            <p class="descripciones">- .NET Framework en C#</p>
            <p class="descripciones">- Angular</p>
            <p class="descripciones">- Angular Material</p>
            <p class="descripciones">- Bootstrap</p>
            <p class="descripciones">- SweetAlert</p>
            <p class="descripciones">- GitHub</p>
        </div>
        <div class="section-item">
            <h2 class="titulo2">Repositorio</h2>
            <p class="descripciones">Visita el repositorio para más detalles sobre este proyecto.
                Donde no solo podrás ver el código fuente de este desafío, sino 
                que además encontrarás el resto de los desafíos entregados.
            </p>
            <div class="link">
                <a href="https://github.com/Mayra-Riccardi/labnet2023.git" target="_blank">Repositorio de GitHub</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
