body {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 300;
    background-color: #f5f5f5;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.titulo {
    font-size: 58px;
    margin-bottom: 50px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
}
.description {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.titulo2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.descripciones {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-item {
    flex: 1;
    margin: 10px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


.link {
    text-align: center;
    margin-top: 20px;
}

.link a {
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
}
