<br />
<br />

<h1 class="titulo">Agregar nuevo Empleado</h1>

<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-field">
    <mat-form-field style="width: 500px;">
      <input matInput formControlName="LastName" placeholder="Apellido" required>
      <mat-error *ngIf="employeeForm.get('LastName')?.hasError('maxlength')">El apellido no puede tener más de 15 caracteres.</mat-error>
      <mat-error *ngIf="employeeForm.get('LastName')?.hasError('minlength')">El apellido debe tener al menos 3 caracteres.</mat-error>
      <mat-error *ngIf="employeeForm.get('LastName')?.hasError('pattern')">El apellido no puede contener números.</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field" style="width: 500px;">
    <mat-form-field style="width: 500px;">
      <input matInput formControlName="FirstName" placeholder="Nombre" required>
      <mat-error *ngIf="employeeForm.get('FirstName')?.hasError('maxlength')">El nombre no puede tener más de 15 caracteres.</mat-error>
      <mat-error *ngIf="employeeForm.get('FirstName')?.hasError('minlength')">El nombre debe tener al menos 3 caracteres.</mat-error>
      <mat-error *ngIf="employeeForm.get('FirstName')?.hasError('pattern')">El nombre no puede contener números.</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field style="width: 500px;">
      <input matInput formControlName="City" placeholder="Ciudad" required>
      <mat-error *ngIf="employeeForm.get('City')?.hasError('maxlength')">La ciudad no puede tener más de 15 caracteres.</mat-error>
      <mat-error *ngIf="employeeForm.get('City')?.hasError('minlength')">La ciudad debe tener al menos 3 caracteres.</mat-error>
      <mat-error *ngIf="employeeForm.get('City')?.hasError('pattern')">La ciudad no puede contener números.</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field style="width: 500px;">
      <input matInput formControlName="Country" placeholder="País" required>
      <mat-error *ngIf="employeeForm.get('Country')?.hasError('maxlength')">El país no puede tener más de 15 caracteres.</mat-error>
      <mat-error *ngIf="employeeForm.get('Country')?.hasError('minlength')">El país debe tener al menos 3 caracteres.</mat-error>
      <mat-error *ngIf="employeeForm.get('Country')?.hasError('pattern')">El país no puede contener números.</mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid">Guardar</button>
</form>

<div class="footer">
  <hr>
  <p>Todos los derechos reservados &copy; Mayra Riccardi</p>
  <p>Lab Practica 9</p>
  <!-- Ícono de GitHub -->
  <a href="https://github.com/Mayra-Riccardi" target="_blank">
    <i class="fa fa-github"></i>
  </a>
  <!-- Ícono de LinkedIn -->
  <a href="https://www.linkedin.com/in/tu-perfil-en-linkedin" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
</div>

