html .body {
  background-color: #f2f3f3;
  margin: 0;
  padding: 0;
  height: 100%;
  }

.titulo {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
}

/*TABLA*/
table {
    width: 100%;
  }
.mat-mdc-header-cell{
  font-size: 18px;
  font-weight: 500px;
}
.mat-mdc-cell{
  font-size: 15px;
}
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .insert-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
.custom-button {
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 30px;
}

/* Animaciones */
.custom-button:hover {
  transform: translateY(-3px);
}

/* Estilos cuando se hace clic en el botón */
.custom-button:active {
  background-color: #217dbb;
  transform: translateY(0);
}

button {
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.2);
}

/*SPINNER*/
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner-container mat-progress-spinner {
  width: 20px;
  height: 20px;
}