/* Estilo para el formulario */
.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px; 
  }
  
  /* Estilo para los campos */
  .form-field {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho m치ximo de los campos */
    margin: 0 auto;
    margin-bottom: 20px; /* Espacio entre los campos */
  }

  .titulo {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
  
  /* Estilo para el bot칩n */
  button {
    width: 100%;
    max-width: 200px; /* Ajusta el ancho m치ximo del bot칩n */
    margin: 0 auto;
  }
  
