<h1 class="titulo">Update Employee</h1>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-field">
    <mat-form-field>
      <input matInput formControlName="LastName" placeholder="Last Name" required>
      <mat-error *ngIf="employeeForm.get('LastName')?.hasError('maxlength')">Last name cannot exceed 10 characters.</mat-error>
      <mat-error *ngIf="employeeForm.get('LastName')?.hasError('minlength')">Last name must have at least 3 characters.</mat-error>
      <mat-error *ngIf="employeeForm.get('LastName')?.hasError('pattern')">Last name cannot contain numbers.</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field>
      <input matInput formControlName="FirstName" placeholder="First Name" required>
      <mat-error *ngIf="employeeForm.get('FirstName')?.hasError('maxlength')">First name cannot exceed 10 characters.</mat-error>
      <mat-error *ngIf="employeeForm.get('FirstName')?.hasError('minlength')">First name must have at least 3 characters.</mat-error>
      <mat-error *ngIf="employeeForm.get('FirstName')?.hasError('pattern')">First name cannot contain numbers.</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field>
      <input matInput formControlName="City" placeholder="City" required>
      <mat-error *ngIf="employeeForm.get('City')?.hasError('maxlength')">City cannot exceed 10 characters.</mat-error>
      <mat-error *ngIf="employeeForm.get('City')?.hasError('minlength')">City must have at least 3 characters.</mat-error>
      <mat-error *ngIf="employeeForm.get('City')?.hasError('pattern')">City cannot contain numbers.</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field>
      <input matInput formControlName="Country" placeholder="Country" required>
      <mat-error *ngIf="employeeForm.get('Country')?.hasError('maxlength')">Country cannot exceed 10 characters.</mat-error>
      <mat-error *ngIf="employeeForm.get('Country')?.hasError('minlength')">Country must have at least 2 characters.</mat-error>
      <mat-error *ngIf="employeeForm.get('Country')?.hasError('pattern')">Country cannot contain numbers.</mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid" style="margin-bottom: 20px;">Save</button>
  <button mat-raised-button type="button" color="warn" (click)="closeModal()">Cancel</button>
</form>